<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Seja Bem Vindo ao: "{{ title }}!" {{cep}}
  </h1>
</div>
<h2>Informe seu CEP abaixo: </h2>

<form action="" method="post">
  <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="cep" name="cep" id="cep" placeholder="Cep">
  </div>
  <button type="button" name="buscar" class="btn btn-primary" id="buscar" (click) = "buscarCep()" >Buscar</button>

</form>
<input type="hidden" id="id_divida" value="">

<ul>
    <li>LOGRADOURO: {{dados.logradouro}}</li>
</ul>